$main-width: 16px;
$main-font-size: 1em;
$transition-duration: 400ms;
$text-color:#e0dfdc;
$button-color: yellow;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 24px;
    background-color: rgb(111, 111, 129);
    background: linear-gradient(90deg, rgb(129, 111, 123) 0%, rgb(29, 29, 48) 100%);
    color: $text-color;    
}
header {
    justify-content: center;
}
h1 {
    font-size: 56px;
    padding: 50px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: $text-color;
    letter-spacing: .1em;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 10px 0 #1c1c1c, 
      0 11px 0 #1a1a1a, 
      0 12px 0 #181818, 
      0 13px 0 #161616, 
      0 14px 0 #141414, 
      0 15px 0 #121212, 
      0 22px 30px rgba(0, 0, 0, 0.9);  
    }
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;  
}
label {
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 20px;
    transition: $transition-duration;
    &:before {
      position: absolute;
      content: "";
      display: inline-block;
      top: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid transparent;
      border-radius: 50%;
      width: $main-width * 2;
      height: $main-width * 2;
      background-color: transparent;
      right: -3.25rem;
     transform-origin:-550%;
    transition:  $transition-duration* 2;
    }
    &:after {
      position: absolute;
      content: "";
      display: inline-block;
      top: 50%;
      transform: translate(-50%, -50%);
      width: $main-width;
      height: $main-width;
      border: 2px solid #7f7f7f;
      border-radius: 50%;
      background-color: #ccc;
      right: -2.25rem;
      transition: $transition-duration;
    }
  }
    input[type="radio"] {
    display: none;
    &:checked + label {
      color: black;
      &:before {
        border: 2px solid $button-color;
        border-radius: 50%;
        width: $main-width;
        height: $main-width;
        background-color: transparent;
        right: -2.25rem;
        }
      &:after {
        border-color: $button-color;
        width: $main-width/2;
        height: $main-width/2;
        background-color: $button-color;
        right: -1.75rem;
        transform-origin: 0;
       }
    }
  }
.container__radio {
    margin: 20px;
}
.searchbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 20px 20px 40px; 

    &__input {
        width: 50%;
        padding:10px;
        margin-right: 20px;
        border: solid 2px rgb(29, 29, 48);
        background-color: #e0dfdc;
        color: rgb(29, 29, 48);
        cursor: pointer;
    }

    &__reset {
        width: auto;
        height:auto;
        padding: 10px;
        cursor: pointer;
        border: solid 2px rgb(29, 29, 48);
        background-color: #e0dfdc;
        color: rgb(29, 29, 48);
    }
    
    &__reset:hover {
        background-color: $button-color; 
        transition: $transition-duration ease-in-out;
    }   
}
.main {
    justify-content: center;

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;  
    }
}
li {
    list-style: none;
    padding: 10px;
}
img {
    object-fit: cover;
    height: 100%;
    width: 100%;
   border: solid 2px #e0dfdc;
    filter: grayscale(100%);
    transition: $transition-duration ease-in-out;
}
img:hover {
   filter: grayscale(0);
   border: solid 2px $button-color;
   transition: $transition-duration;
          transform: scale(1.05);
}
.footer {
text-align: center;
padding: 20px;
background-color: rgb(29, 29, 48);
}








