* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 24px;
  background-color: #6f6f81;
  background: -webkit-gradient(linear, left top, right top, from(#816f7b), to(#1d1d30));
  background: linear-gradient(90deg, #816f7b 0%, #1d1d30 100%);
  color: #e0dfdc;
}

header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  font-size: 56px;
  padding: 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #e0dfdc;
  letter-spacing: .1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

label {
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 20px;
  -webkit-transition: 400ms;
  transition: 400ms;
}

label:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px solid transparent;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: transparent;
  right: -3.25rem;
  -webkit-transform-origin: -550%;
          transform-origin: -550%;
  -webkit-transition: 800ms;
  transition: 800ms;
}

label:after {
  position: absolute;
  content: "";
  display: inline-block;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border: 2px solid #7f7f7f;
  border-radius: 50%;
  background-color: #ccc;
  right: -2.25rem;
  -webkit-transition: 400ms;
  transition: 400ms;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  color: black;
}

input[type="radio"]:checked + label:before {
  border: 2px solid yellow;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: transparent;
  right: -2.25rem;
}

input[type="radio"]:checked + label:after {
  border-color: yellow;
  width: 8px;
  height: 8px;
  background-color: yellow;
  right: -1.75rem;
  -webkit-transform-origin: 0;
          transform-origin: 0;
}

.container__radio {
  margin: 20px;
}

.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 20px 20px 40px;
}

.searchbar__input {
  width: 50%;
  padding: 10px;
  margin-right: 20px;
  border: solid 2px #1d1d30;
  background-color: #e0dfdc;
  color: #1d1d30;
  cursor: pointer;
}

.searchbar__reset {
  width: auto;
  height: auto;
  padding: 10px;
  cursor: pointer;
  border: solid 2px #1d1d30;
  background-color: #e0dfdc;
  color: #1d1d30;
}

.searchbar__reset:hover {
  background-color: yellow;
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

.main {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

li {
  list-style: none;
  padding: 10px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border: solid 2px #e0dfdc;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  border: solid 2px yellow;
  -webkit-transition: 400ms;
  transition: 400ms;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #1d1d30;
}
/*# sourceMappingURL=styles.css.map */